#receiptData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size:large;
}

#receiptDataCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    font-size:larger;
    padding: 4rem;
}